<section ng-controller="CustomersCreateController as customerCtrl">
  <div class="modal-header">
    <h3 class="modal-title">New Customer</h3>
  </div>
  <div class="modal-body">

    <form name="createCustomerForm">
      <fieldset>
        <div class="form-group">
          <div ng-show="error" class="text-center text-danger">
            <div class="alert alert-danger" role="alert">
              <strong ng-bind="error"></strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-center">
            <i class="glyphicon glyphicon-user cust-profile" ng-class="{'text-primary': customerCtrl.referred, 'text-pink': !customerCtrl.referred}"></i>
          </div>
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label class="control-label" for="firstName">First Name</label>
              <input name="firstName" type="text" ng-model="customerCtrl.firstName" id="firstName" class="form-control" placeholder="First Name" required>
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="lastName">Last Name</label>
              <input name="lastName" type="text" ng-model="customerCtrl.lastName" id="lastName" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="city">City</label>
              <input name="city" type="text" ng-model="customerCtrl.city" id="city" class="form-control" placeholder="City">
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="country">Country</label>
              <input name="country" type="text" ng-model="customerCtrl.country" id="country" class="form-control" placeholder="Country">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <div class="form-group" show-errors>
              <label class="control-label" for="phone">Phone</label>
              <input name="phone" type="text" ng-model="customerCtrl.phone" id="phone" class="form-control" placeholder="Phone">
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="email">Email</label>
              <input name="email" type="text" ng-model="customerCtrl.email" id="email" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group">
              <label class="control-label" for="referred">Referred</label>
              <input name="referred" type="checkbox" ng-model="customerCtrl.referred" id="referred" class="form-control checkbox-left">
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="channel">Channel</label>
              <input name="channel" type="text" ng-model="customerCtrl.channel" id="channel" class="form-control" placeholder="Channel">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label class="control-label" for="industry">Industry</label>
              <input name="industry" type="text" ng-model="customerCtrl.industry" id="industry" class="form-control" placeholder="Industry">
            </div>
          </div>
        </div>
      </fieldset>
    </form>

    <div class="modal-footer">
        <button class="btn btn-success btn-lg" type="button" ng-click="customerCtrl.create(); ok()" ng-disabled="createCustomerForm.$invalid">Save & Close</button>
        <button class="btn btn-warning btn-lg" type="button" ng-click="cancel()">Cancel</button>
    </div>

</section>